@page "/"
@layout CustomLayout
@inject NavigationManager Navigation

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HC | Dental Clinic</title>
    <link href="../wwwroot/css/bootstrap/bootstrap.min.css" rel="stylesheet" >
    <style>

    </style>
</head>

<body style="overflow-x: hidden">
    <header>
    </header>

    <div class="main-container">
    </div>
</body>