@page "/"
@layout CustomLayout

<div class="wip-container">
    <h1 class="wip-text">Estamos a preparar algo fantástico para si.</h1>

    <img src="/images/background-shadowed.png" alt="Work in progress" class="wip-image" />

    <footer class="wip-footer">
        &copy; @DateTime.Now.Year HC Dental Clinic - Todos os direitos reservados.
    </footer>
</div>
