@page "/error"
@inherits LayoutComponentBase

<ErrorBoundary>
    <div class="error-page">
        <div class="error-text">

            <MudText Class="pa-4"
                Style="@($"position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); text-align: center;color: {Colors.Gray.Lighten5}; font-weight: bolder; z-index: 2; font-size: 1.8rem;")">
                Erro 404 - Página não encontrada
            </MudText>

            <MudText Class="pa-4"
                Style="@($"position: absolute; top: 35%; left: 50%; transform: translate(-50%, -50%); text-align: center;color: {Colors.Gray.Lighten5}; font-weight: normal; z-index: 2; font-size: 1.3rem;")">
                Pedimos desculpa, mas o conteúdo pelo qual procura foi movido ou não foi encontrado.
            </MudText>
            
            <MudButton 
                StartIcon="@Icons.Material.Filled.ArrowBack"
                OnClick="GoBack"
                Variant="Variant.Filled"
                Class="mt-16"
                @onmouseover="OnMouseOverColorChange"
                @onmouseout="OnMouseOutColorChange"
                Style="@($"position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; font-size: 1.2rem; color: {mudButtonTextColor}; background-color: white; border-radius: 16px;")">
                Voltar
            </MudButton>
        </div>
    </div>
</ErrorBoundary>
<CustomMap />
<CustomFooter />

@code 
{
    private string mudButtonTextColor = Colors.BlueGray.Darken2;

    private void OnMouseOverColorChange(MouseEventArgs args)
    {
        mudButtonTextColor = MudBlazor.Colors.Brown.Lighten4;
    }

    private void OnMouseOutColorChange(MouseEventArgs args)
    {
        mudButtonTextColor = Colors.BlueGray.Darken2;
    }

    private void GoBack()
    {
        Navigation.NavigateTo(Navigation.BaseUri);
    }
}