<MudPaper>
    <div id="map" style="height:400px;width:100%;">
        @* <gmp-map center="40.12150192260742,-100.45039367675781" zoom="4" map-id="HC_DENTAL_CLINIC_MAP">
            <gmp-advanced-marker position="40.12150192260742,-100.45039367675781" title="A nossa localização"></gmp-advanced-marker>
        </gmp-map> *@
        <iframe src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d748.5402481467673!2d-8.190087922753902!3d41.37058682429046!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0xd24ebd375e7c8c7%3A0x7cf4ab7f94d6d6a1!2sHC%20Dental%20Clinic%2C%20Edif.%20Santa%20Quit%C3%A9ria%2C%20Rua%20Nicolau%20Coelho%20No%20521%20Bloco%203%2C%20Frac%20D3%2C%20r%2Fc%20dto%2C%204610-202%20Felgueiras!3m2!1d41.3705585!2d-8.1895679!5e0!3m2!1spt-PT!2spt!4v1772661479946!5m2!1spt-PT!2spt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</MudPaper>
