<MudPaper>
    <div id="map" style="height:400px;width:100%;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d187.13524567204794!2d-8.189705928996212!3d41.37052298430593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd24ebd375e7c8c7%3A0x7cf4ab7f94d6d6a1!2sHC%20Dental%20Clinic!5e0!3m2!1spt-PT!2spt!4v1783859967264!5m2!1spt-PT!2spt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>
    </div>
</MudPaper>
